<link rel='stylesheet' href='/static/style.css'>

<h1 class="titles">MY SECRET TREASURE CHEST OF RECIPES</h1>
<a href="recipeadd/">ADD A RECIPE</a>
<br>
<a href="authoradd/">ADD A NEW COOK</a>


<ul>
    {% for i in data %}
        <li><h2><a href="recipes/{{i.id}}/">{{ i.title }}</a>, by <a href="author/{{i.author.id}}">{{ i.author }}</a></h2></li>
        <br>
        <h4>Description</h4>
        <ul>
            <li>{{ i.description }}</li>
            <li><strong>Time Required to Make: </strong>{{ i.time }} minutes</li>
            <li><em>Created on: {{ i.post_date }}</em></li>
        </ul>
    {% endfor %}
</ul>